/* algunas cosillas de Datatables */
.dataTables_filter input {
    align-items: center;
    width: 300px
  }
  .dataTables_filter input:focus {
    background-color: yellow;
  }
  
  .dt-button{
    margin-bottom: 5px;
  }
  
  /* .navbar{
    margin-left:-10px;
    margin-right:-30px;
    }
  
  .navbar-inner{
  padding-left:0;
  padding-right:0;
  }   */
  
    